<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="host" value="b-15808a31-fbf8-472a-81b9-d0e2f12d13f8.mq.eu-north-1.on.aws" />
    <add key="port" value="5671" />
    <add key="userName" value="<my_username>" />
    <add key="password" value="<my_password>" />
    <add key="virtualHost" value="/<my_virtual_host>" />
  </appSettings>
</configuration>
